# VS Code
*/.vscode/settings.json

# Casey's repo
cmuratori/

# Cargo
debug/
target/

# build dirs
build/

# program output
output/
*dump.data
*flex.json
*.f64

# etc
8086_family_Users_Manual_1_.pdf
9800722-03_The_8086_Family_Users_Manual_Oct79.pdf